/* header.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffffff; /* White background */
    color: #333; /* Text color */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 200px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(150, 187, 250)
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    position: relative; 
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-bottom: 2px solid transparent; /* Add an underline */
    transition: border-bottom-color 0.3s ease; /* Add transition */
}

nav ul li a:hover {
    color: rgb(150, 187, 250);
    border-bottom-color: #ff6600; /* Change color on hover */
}


.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    top: 100%;
    left: 0;
    width: 120px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown li {
    margin: 5px 0;
}

nav ul li:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown a {
    display: block;
    padding: 8px 15px;
    color:black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown a:hover {
    color: rgb(150, 187, 250);
}

.search {
    text-align: right;
}

.search input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

.search input[type="text"]:focus {
    border-color: #ff6600;
}

.search button {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #cc5500;
}
